.profile__edit-button{
    background: none;
    background-image: url(../../../images/Edit_Button.jpg);
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 37px;
    right: -42px;
}

@media (max-width: 412px) {
    .profile__edit-button{
        background-image: url(../../../images/Edit_Button_s_size.svg);
        width: 18px;
        height: 18px;
        background-repeat: no-repeat;
        background-size: cover;
        top: 33px;
        right: -30px;
    }
 }

 .profile__edit-button:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0;
    transition: opacity 0.2s;
}

 .profile__edit-button:hover::before{
    opacity: 0.6;
}

.profile__edit-button:focus-visible{
    outline: 0px;
}