@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__line/header__line.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/root/root.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__section/element__section.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/popup-card/__close-button/popup-card__close-button.css);
@import url(./blocks/popup-card/__image/popup-card__image.css);
@import url(./blocks/popup-card/__subtitle/popup-card__subtitle.css);
@import url(./blocks/popup-card/popup-card.css);
@import url(./blocks/popup-card/_opened/popup-card_opened.css);
@import url(./blocks/popup-card/__group/popup-card__group.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__form/_lower/popup__form_lower.css);
@import url(./blocks/element/__like-container/element__like-container.css);
@import url(./blocks/element/__like-ammount/element__like-ammount.css);
@import url(./blocks/popup-delete-card/__content/popup-delete-card__content.css);
@import url(./blocks/popup-delete-card/__title/popup-delete-card__title.css);
@import url(./blocks/popup-avatar/__content/popup-avatar__content.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);