.element__like-button{
    background: none;
    border: none;
    box-shadow: none;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    margin-top: 5px;
    cursor: pointer;
    transition: background-image 0.2s;
}

 .element__like-button:hover{
    background-image: url(../../../images/like_hover.svg);
    background-repeat: no-repeat;
}